RAG Agent 1st part.json
{
  "name": "RAG Agent 1st part",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1ev4a6EXHksHcPc6KXlW2jaLniGlmvugI",
          "mode": "list",
          "cachedResultName": "MHTJD Demo Data",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ev4a6EXHksHcPc6KXlW2jaLniGlmvugI"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        0
      ],
      "id": "3fc62cc1-4d29-4a65-9d63-cf73f070357c",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8E1xnKLgBJJyfM6C",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        48,
        0
      ],
      "id": "a73d7d2c-de72-4b6a-a1d4-dfeb30a434d1",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8E1xnKLgBJJyfM6C",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        176,
        208
      ],
      "id": "d6f99d94-4a31-438b-8c79-4efdacf56b1f",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "ehWQJT3TK68YqAjr",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        400,
        208
      ],
      "id": "5d1404f1-85a4-422e-b452-9a6f4f0113f8",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "mehedi-assin",
          "mode": "list",
          "cachedResultName": "mehedi-assin"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        256,
        0
      ],
      "id": "06ffab06-f1d6-4fa6-92d8-84765f5ad311",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "ZbNrNaKnI0HlT9GF",
          "name": "Pinecone account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "06203590-8d4c-4b94-ac36-4f2af7455585",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c0849aebfbe751910c4a45ffd23030e04b12881f477018055a6c45a9c635a48b"
  },
  "nodeGroups": [],
  "id": "UxpcsurcgdAwFsgG",
  "tags": [
    {
      "updatedAt": "2026-07-11T20:45:44.094Z",
      "createdAt": "2026-07-11T20:45:44.094Z",
      "id": "vI274k6gqUs4t64M",
      "name": "Website chatbot"
    }
  ]
}