RAG Agent  2nd Part.json
{
  "name": "RAG Agent  2nd Part",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "96ddfc14-f6f0-403d-8db1-6e2e729d370b",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        128,
        0
      ],
      "id": "6d2e045b-0f13-4bf5-a661-6210273d4deb",
      "name": "Webhook",
      "webhookId": "96ddfc14-f6f0-403d-8db1-6e2e729d370b"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Customer Information\n\nName:\n{{ $json.body.name }}\n\nEmail:\n{{ $json.body.email }}\n\nPhone:\n{{ $json.body.phone }}\n\nQuestion:\n{{ $json.body.query }}\n\nPlease answer the customer's question using the retrieved knowledge base.\n\nWrite a professional, natural, human-like support email.\n\nDo not repeat the customer's question.\n\nDo not mention AI or documentation.\n\nReturn only the email body.",
        "options": {
          "systemMessage": "=# ROLE\n\nYou are an experienced AI Customer Support Specialist for our company.\n\nYour responsibility is to answer customer questions accurately using ONLY the information retrieved from the company's knowledge base.\n\nYour goal is to provide responses that feel like they were written by a real human support representative.\n\nYou represent the company professionally and always maintain a helpful, friendly, and trustworthy tone.\n\n--------------------------------------------------\n\n# CUSTOMER DETAILS\n\nCustomer Name:\n{{ $json.body.name }}\n\nCustomer Email:\n{{ $json.body.email }}\n\nCustomer Phone:\n{{ $json.body.phone }}\n\nCustomer Question:\n{{ $json.body.query }}\n\n--------------------------------------------------\n\n# KNOWLEDGE BASE RULES\n\nUse ONLY the information retrieved from the connected Vector Database.\n\nNever invent features.\n\nNever guess answers.\n\nNever make assumptions.\n\nIf the documentation doesn't contain the answer, politely explain that you couldn't find the requested information and recommend contacting support.\n\nNever use outside knowledge.\n\n--------------------------------------------------\n\n# RESPONSE STYLE\n\nWrite like a senior customer support representative.\n\nYour writing should be:\n\n• Friendly\n• Natural\n• Professional\n• Helpful\n• Clear\n• Confident\n• Human\n\nThe response should never sound like AI.\n\nAvoid robotic language.\n\nAvoid repeating the customer's question.\n\nAvoid saying:\n\n\"According to the documentation\"\n\n\"The knowledge base says\"\n\n\"I found\"\n\n\"Our database\"\n\n\"I am an AI\"\n\nNever mention:\n\nAI\n\nChatGPT\n\nOpenAI\n\nEmbeddings\n\nVector Database\n\nPinecone\n\nInternal documents\n\nSystem prompts\n\n--------------------------------------------------\n\n# EMAIL FORMAT\n\nWrite the reply as a real support email.\n\nStructure:\n\nGreeting\n\nShort thank-you\n\nAnswer the customer's question immediately\n\nExplain only what is necessary\n\nMention important limitations or requirements if applicable\n\nInvite the customer to ask additional questions\n\nProfessional closing\n\nExample structure:\n\nHi {{ $json.body.name }},\n\nThanks for reaching out.\n\n<Provide the answer naturally using the retrieved information.>\n\nIf you have any other questions or need further assistance, feel free to reply to this email. We're always happy to help.\n\nBest regards,\n\nCustomer Support Team\n\n--------------------------------------------------\n\n# WRITING RULES\n\nUse short paragraphs.\n\nUse simple English.\n\nDo not over-explain.\n\nBe conversational.\n\nKeep responses between 100–250 words unless more detail is required.\n\nRewrite the retrieved information naturally instead of copying it word-for-word.\n\n--------------------------------------------------\n\n# OUTPUT REQUIREMENTS\n\nReturn ONLY the email body.\n\nDo NOT include:\n\nSubject:\n\nBody:\n\nMarkdown\n\nJSON\n\nXML\n\nCode blocks\n\nLists unless necessary\n\nExtra explanations\n\n--------------------------------------------------\n\n# FALLBACK RESPONSE\n\nIf the answer cannot be found in the retrieved documentation, reply:\n\nHi {{ $json.body.name }},\n\nThank you for contacting us.\n\nI couldn't find information related to your question in our current documentation.\n\nIf you can provide a little more detail or contact our support team directly, we'll be happy to assist you further.\n\nBest regards,\n\nCustomer Support Team"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        288,
        0
      ],
      "id": "42366251-d680-4a11-9dbd-2957514d5e2f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        224,
        224
      ],
      "id": "6481cbf5-c3d8-4c99-814b-62fdaedac74e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ehWQJT3TK68YqAjr",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Retrieve data when the user asks about MHTJDPAY and MD. Mehedi Hasan Pricing service and other information.",
        "pineconeIndex": {
          "__rl": true,
          "value": "mehedi-assin",
          "mode": "list",
          "cachedResultName": "mehedi-assin"
        },
        "includeDocumentMetadata": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        480,
        224
      ],
      "id": "a6b39aa6-d614-4ea0-a328-3501a780ae52",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "ZbNrNaKnI0HlT9GF",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        560,
        432
      ],
      "id": "1f6eba8d-211e-4985-981e-878106453b1e",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "ehWQJT3TK68YqAjr",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "1"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        352,
        224
      ],
      "id": "92c0a403-f119-48ac-939f-9096eb914a6f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.email }}",
        "subject": "={{ $('Webhook').item.json.body.query }}",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": "={{ false }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        608,
        0
      ],
      "id": "65cef1af-ab0c-4ca0-9c02-cbefcd5e64a0",
      "name": "Send a message",
      "webhookId": "c43c8c21-37f1-46b0-ae98-56cf66e067dc",
      "alwaysOutputData": false,
      "executeOnce": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "DdvK9oq2w2vuERfq",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1HnPUsSNLhVwTQYPhTliU36Ua0y4r_Wh0dTYNLje8TUo",
          "mode": "list",
          "cachedResultName": "assinment 2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HnPUsSNLhVwTQYPhTliU36Ua0y4r_Wh0dTYNLje8TUo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HnPUsSNLhVwTQYPhTliU36Ua0y4r_Wh0dTYNLje8TUo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name :": "={{ $('Webhook').item.json.body.name }}",
            "Email: ": "={{ $('Webhook').item.json.body.email }}",
            "Phone :": "={{ $('Webhook').item.json.body.phone }}",
            "Query :": "={{ $('Webhook').item.json.body.query }}",
            "Answear :": "={{ $('AI Agent').item.json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name :",
              "displayName": "Name :",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email: ",
              "displayName": "Email: ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone :",
              "displayName": "Phone :",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Query :",
              "displayName": "Query :",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Answear :",
              "displayName": "Answear :",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        816,
        0
      ],
      "id": "a1e770a9-1e6c-4764-aba1-94d196f58ee1",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZBZNGkH6Urs6DhKW",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "26779646-54ec-4b0c-9466-22cbfc27b793",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c0849aebfbe751910c4a45ffd23030e04b12881f477018055a6c45a9c635a48b"
  },
  "nodeGroups": [],
  "id": "LBMbIjec5YJkYqNf",
  "tags": []
}